Django==3.0.3
djangorestframework==3.11.0
requests==2.24.0
django-dotenv==1.4.2
django-cors-headers==3.2.1
django-templated-mail==1.1.1
djangorestframework-simplejwt 4.4.0
mysqlclient==1.4.6
django-mysql==2.2.0


